*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  padding: 40px 20px;
  background-color: red;
  color: white;
  font-size: 18px;
  position: relative;
}

.input {
  width: 150px;
  border-radius: 4px;
  outline: none;
  color: black;
}

.hidden-el {
  position: absolute;
  top: 10px;
  left: 20px;
  display: none;
}

.reset-button {
  position: absolute;
  left: 175px;
}

.error-message {
  position: absolute;
  top: 60px;
  left: 30px;
  color: black;
  display: none;
}
