:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-grin: #89ca62;
  --basic-dark-grin: rgba(137, 202, 98, 1);
  --basic-hover: rgba(20, 185, 213, 1);
  --basic-blue: #14b9d5;
  --basic-dark-blue: #18b4cf;
  --basic-light-black: #353a3d;
  --basic-grey: #5b6469;
  --basic-grin: #313131;
  --basic-light-white: #f2f2f2;
  --basic-light-gray: #f9f7f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1150px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--basic-white);
  font-style: normal;
  background-color: var(--basic-grin);
}

.nav-logo {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.nav-logo-item1 {
  padding: 22px 27px;
}

.nav-logo-item2 {
  padding: 22px 0 22px 0;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-item a {
  display: inline-block;
  padding: 27px 0 27px 0;
  margin: 0 17px 0;
}

.nav-item a:hover {
  color: var(--basic-blue);
}

.nav-search {
  padding: 27px;
  background-color: var(--basic-black);
}

.nav-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-container a {
  color: var(--basic-blue);
  display: inline-block;
  padding: 15px 0 15px 0;
  margin: 0 17px 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-container a:hover {
  color: var(--basic-light-black);
}

.scroll-button {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background: var(--basic-blue);
  color: var(--basic-light-white);
  font-size: 50px;
  padding-top: 15px;
  line-height: 26px;
  border-radius: 5px;
  display: none;
}

.scroll-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.hidden-section {
  background: var(--basic-blue);
  color: var(--basic-light-white);
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

.heading-news {
  background-image: url(../img/header-bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.heading-info {
  padding-top: 123px;
  padding-bottom: 44px;
  align-self: center;
}

.heading-button {
  padding-bottom: 74px;
  align-self: center;
}

.heading-info h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: var(--basic-white);
}

.heading-list {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.heading-list-item1 {
  background-color: var(--basic-dark-grin);
  margin-right: 20px;
  border-radius: 4px;
}

.heading-list-item1 a {
  display: inline-block;
  padding: 12px 20px;
}

.heading-list-item2 {
  background-color: var(--basic-hover);
  border-radius: 4px;
}

.heading-list-item2 a {
  display: inline-block;
  padding: 12px 20px;
}

.post-container {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: top center;
}

.heading-post {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: var(--basic-dark-blue);
  text-align: center;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
}

.post-wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 32px;
}

.post-list li {
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.post-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.clients-wraper {
  background-image: url(../img/parallax-bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  display: grid;
}

.heading-clients {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  justify-self: center;
  text-transform: uppercase;
  color: var(--basic-white);
  padding-top: 108px;
  margin-bottom: 92px;
}

.clients-wraper hr {
  justify-self: center;
  margin: 0;
  width: 60px;
  height: 3px;
  background-color: var(--basic-dark-blue);
  border: none;
}

.clients-list {
  padding-top: 92px;
  padding-bottom: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 881px;
  justify-self: center;
  grid-column-gap: 50px;
  align-items: center;
}

.top-rated {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  padding: 25px 0;
}

.rated-logo {
  display: grid;
  grid-auto-flow: column;
}

.news-hot {
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  padding: 25px 0;
}
.news-wraper li {
  background-color: var(--basic-light-gray);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}

.news-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: var(--basic-light-black);
  padding-bottom: 15px;
}

.news-heading1 {
  text-align: center;
  padding: 0;
}

.item-info {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: var(--basic-grey);
}

.news-wraper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 42px;
  margin-bottom: 77px;
}

.figcaption-list {
  align-self: center;
  padding-right: 25px;
  padding-left: 15px;
}

.figcaption-item {
  padding: 16px 0;
}

.figcaption-main {
  padding: 13px 14px 3px 14px;
}

.news-name1 {
  display: grid;
  grid-template-columns: 483px 1fr;
}

.news-name8 {
  display: grid;
  grid-template-columns: 483px 1fr;
}

.news-item1 {
  grid-column: 1 / 4;
}

.news-item2 {
  grid-column: 4 / 5;
}

.news-item3 {
  grid-column: 1 / 3;
}

.news-item4 {
  grid-column: 3 / 5;
}

.news-item5 {
  grid-column: 1 / 3;
}

.news-item6 {
  grid-column: 3 / 5;
}

.news-item8 {
  grid-column: 2 / 5;
}

.main-footer {
  background-color: var(--basic-black);
}

.footer-item {
  display: grid;
  grid-template-columns: 1fr 105px;
  padding: 25px 0;
}

.footer-list-item1 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: var(--basic-white);
}

.footer-list-item2 {
  display: grid;
  grid-template-columns: 38px 64px;
}
