@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/AnyConv.com__Ubuntu-Regular.woff2);
  font-weight: normal;
  font-display: swap;
}

:root {
  --basic-white: #ffffff;
  --basic-dark-grin: rgba(1, 129, 63, 1);
  --basic-hover-green: rgba(60, 184, 120, 1);
  --basic-light-green: rgba(60, 184, 120, 0.8);
  --basic-light-gray: rgba(190, 190, 190, 1);
  --basic-black: rgba(0, 0, 0, 0.4);
  --basic-light-black: rgba(67, 67, 67, 1);
  --basic-blue: rgba(48, 93, 184, 1);
  --basic-orange: rgba(223, 74, 50, 1);
  --basic-hover-blue: rgba(2, 34, 99, 1);
  --basic-hover-orange: rgba(171, 31, 9, 1);
  --basic-line-black: rgba(10, 22, 47, 1);
  --basic-gray: rgba(132, 132, 132, 1);
  --basic-line-gray: rgba(242, 242, 242, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.wraper {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../img/fon.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: calc(100% - 58px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  padding: 0 79px;
}

.header-logo {
  padding: 18px 0;
}

.link-logo {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  color: var(--basic-white);
}

.link-logo:hover,
.link-logo:focus {
  color: var(--basic-hover-green);
  outline: none;
  transition: 0.5s;
}

.header-registr {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.registr-icon-list {
  display: flex;
  flex-wrap: wrap;
}

.registr-icon {
  padding: 0 12px;
}

.registr-icon:hover > svg > .icon-item,
.registr-icon:focus > svg > .icon-item {
  fill: var(--basic-hover-green);
  transition: 0.5s;
}

.registr-icon:hover,
.registr-icon:focus {
  outline: none;
}

.registr-icon-list::after {
  content: '';
  display: block;
  width: 1px;
  height: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
  margin: 3px 13px;
}

.registr-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-white);
  padding-left: 12px;
}

.registr-list a:hover,
.registr-list a:focus {
  color: var(--basic-hover-green);
  outline: none;
  transition: 0.5s;
}

.main-form {
  background-color: var(--basic-white);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding: 34px 60px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 444px;
  position: relative;
}

.form-header {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.form-header::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  background-color: var(--basic-hover-green);
  position: absolute;
  left: -60px;
}

.form-link1 {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-light-black);
}

.form-link2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-hover-green);
}

.form-link2:hover,
.form-link2:focus {
  color: var(--basic-dark-grin);
  text-decoration: underline;
  outline: none;
  transition: 0.5s;
}

.form-social {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 34px;
}

.facebook-button {
  background-color: var(--basic-blue);
  background-image: url(../img/facee.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
  padding: 17px 22px 17px 67px;
  outline: none;
}

.facebook-button:hover,
.facebook-button:focus {
  background-color: var(--basic-hover-blue);
  transition: 0.5s;
}

.form-social::after {
  content: '';
  width: 1px;
  height: 28px;
  background-color: var(--basic-line-black);
  opacity: 0.1;
  position: absolute;
  top: 81px;
  left: 105px;
}

.form-social::before {
  content: '';
  width: 1px;
  height: 28px;
  background-color: var(--basic-line-black);
  opacity: 0.1;
  position: absolute;
  top: 81px;
  left: 280px;
}

.google-button {
  background-color: var(--basic-orange);
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
  padding: 17px 27px 17px 80px;
  outline: none;
}

.google-button:hover,
.google-button:focus {
  background-color: var(--basic-hover-orange);
  transition: 0.5s;
}

.start-form {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.name-adge {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-gray);
}

.start-form::before,
.start-form::after {
  content: '';
  width: 152px;
  height: 1px;
  background-color: var(--basic-line-gray);
}

.form-item {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-line-gray);
  padding: 15px 20px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  outline: none;
}

.form-item:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  color: var(--basic-light-black);
  transition: 0.5s;
}

.terms-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-light-black);
  margin-left: 30px;
}

.checkbox-container {
  margin-bottom: 20px;
}

.terms-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: var(--basic-hover-green);
}

.terms-link:hover,
.terms-link:focus {
  color: var(--basic-dark-grin);
  text-decoration: underline;
  outline: none;
  transition: 0.5s;
}

.terms-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.main-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  left: 60px;
  background-color: rgba(0, 0, 0, 0.0001);
}

.terms-checkbox:checked + .main-checkbox {
  background-image: url(../img/chec.svg);
  transition: 0.5s;
}
.terms-checkbox:focus + .main-checkbox {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  transition: 0.5s;
}

.create-button {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: var(--basic-white);
  outline: none;
  background-color: var(--basic-hover-green);
  padding: 16px 99px;
  border: none;
  border-radius: 4px;
}

.create-button:hover,
.create-button:focus {
  background-color: var(--basic-dark-grin);
  transition: 0.5s;
}
