:root {
  --basic-black: #000000;
  --basic-ellow: #ffff00;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.wraper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--basic-black);
  overflow: hidden;
}

.slogan {
  text-align: center;
}

.main-info {
  padding: 20px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color: var(--basic-ellow);
}

.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  perspective: 400px;
}

.content {
  width: 1000px;
  animation: text 20s ease-out infinite;
}

@keyframes text {
  0% {
    transform: rotateX(20deg) translateY(1500px);
  }
  100% {
    transform: rotateX(20deg) translateY(-3000px);
  }
}
