:root {
  --basic-dark: #373737;
  --basic-red: #ff0000;
  --basic-white: rgba(0, 0, 0, 0.0001);
  --basic-extra-white: #ffffff;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: var(--basic-dark);
  background-color: var(--basic-extra-white);
  background-position: top center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: auto;
}

.nav_list {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: var(--basic-red);
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0 300px;
  margin: 0 auto;
}

.nav_list a {
  color: var(--basic-red);
  text-decoration: none;
  display: block;
  padding: 30px 5px;
}

.nav_list li:nth-child(2) {
  margin-left: 12px;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 3.3px;
  margin: 42px auto;
  padding-right: 105px;
  text-align: center;
}

.main_info p {
  font-style: normal;
  text-align: center;
  letter-spacing: 2.4px;
  margin: 0 auto;
  padding: 0 50px 30px;
}

.button_info {
  text-align: center;
  margin: 54px;
}

.button {
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
  color: var(--basic-extra-white);
  text-transform: uppercase;
  letter-spacing: 1.8px;
  background-color: var(--basic-red);
  padding: 19px 42px;
  text-align: center;
  border-radius: 4px;
}

.container.footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 105px;
}

.footer_info {
  margin: 0;
  font-weight: bold;
  line-height: 20px;
  color: var(--basic-dark);
  letter-spacing: 2.4px;
}
