:root {
  --basic-dark: #35444f;
  --basic-white: #ffffff;
  --basic-black: #2c2c2c;
  --basic-blue: #4bcaff;
  --basic-hover: #222f3a;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

.container {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  width: 1280px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;
}

.header-logo {
  padding: 38px 0 48px;
}

.link-logo {
  font-size: 80px;
  line-height: 94px;
  color: var(--basic-blue);
  position: relative;
}

.link-change {
  background-color: var(--basic-blue);
  border-radius: 5px;
  color: var(--basic-white);
  padding: 10px;
  position: absolute;
  top: 70px;
  left: 530px;
}

.link-change:hover {
  background-color: var(--basic-dark);
  transition: 0.3s;
}

.header-logo span {
  color: var(--basic-black);
}

.header-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--basic-dark);
}

.header-list-item {
  padding-top: 19px;
  padding-bottom: 19px;
  border-left: 1px solid #ffffff;
  text-align: center;
}

.header-list-item a {
  color: var(--basic-white);
  font-size: 24px;
  line-height: 28px;
  padding: 19px 40px 19px 40px;
}

.header-list-item:nth-child(4) {
  border-right: 1px solid #fff;
}

.header-list-item a:hover {
  background: #222f3a;
}

.info-nav {
  display: flex;
}

.main-list {
  font-size: 27px;
  line-height: 27px;
  border: 1px solid #000000;
  min-width: 344px;
  margin-top: 50px;
}

.main-list-item a {
  color: #485863;
  display: block;
  padding: 26px 80px 26px 42px;
}

.main-list-item a:hover {
  background-color: rgba(219, 219, 219, 1);
  color: #35444f;
  padding: 26px 70px 26px 52px;
}

.main-content {
  margin-left: 50px;
}

.main-logo {
  border: 1px solid #000000;
  background: var(--basic-white);
  margin-top: 50px;
  margin-bottom: 30px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

.description {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.description-ru {
  margin-bottom: 32px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-list {
  display: flex;
  font-size: 28px;
  line-height: 28px;
  margin-left: 40px;
}

.footer-list-item {
  padding-top: 20px;
  padding-right: 30px;
}

.footer-list-item a {
  padding: 18px 0 18px 0;
}

.footer-list-item a:hover {
  text-decoration: underline;
  color: #3181a6;
}

.copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  padding: 20px 40px 20px 20px;
}

.change-style {
  background-color: var(--basic-blue);
}
