@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2);
  font-weight: normal;
  font-display: swap;
}

:root {
  --basic-white: #ffffff;
  --basic-dark-white: rgba(248, 252, 254, 1);
  --basic-nav-gray: rgba(94, 93, 88, 0.6);
  --basic-grin: rgba(24, 207, 171, 1);
  --basic-nav-link-white: rgba(255, 255, 255, 0.6);
  --basic-blue: rgba(0, 203, 246, 1);
  --basic-dark-gray: rgba(212, 212, 212, 1);
  --basic-dark-blue: rgba(28, 42, 51, 1);
  --basic-light-black: rgba(78, 78, 78, 1);
  --basic-gray: rgba(113, 113, 113, 1);
  --basic-light-gray: rgba(119, 119, 119, 1);
  --basic-buy-gray: rgba(216, 216, 216, 1);
  --basic-work-gray: rgba(233, 237, 239, 1);
  --basic-work-dark-gray: rgba(78, 78, 78, 1);
  --basic-work-light-gray: rgba(138, 138, 138, 1);
  --basic-news-dark-grin: rgba(32, 62, 56, 1);
  --basic-reviews-gray: rgba(187, 187, 187, 1);
  --basic-footer-dark-blue: rgba(34, 53, 63, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.wraper {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

.container {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  max-width: 1160px;
}

/* Header */

.header-wraper {
  background-image: url(../img/bgHeader.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.header-nav {
  background-color: var(--basic-nav-gray);
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.logo-item1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 31px;
  color: var(--basic-white);
  width: 57px;
  height: 67px;
  background-image: url(../img/Logo.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px 0;
}

.logo-item2 {
  padding-left: 7px;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 48px;
  color: var(--basic-white);
}

.logo-item2 span {
  font-weight: bold;
  color: var(--basic-grin);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item-link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--basic-nav-link-white);
  margin-right: 21px;
  letter-spacing: 1px;
}

.nav-item-link:hover {
  color: var(--basic-grin);
  border-bottom: 2px solid #18cfab;
  padding: 47px 0 48px 0;
}

.nav-search-svg:hover .search-svg-path1,
.nav-search-svg:hover .search-svg-path2 {
  stroke: var(--basic-grin);
}

.slogan {
  padding-top: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slogan-heading > span {
  color: var(--basic-grin);
}

.main-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  text-transform: uppercase;
  color: var(--basic-white);
  margin: 22px 0;
}

.slogan-text {
  margin-bottom: 129px;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  color: var(--basic-dark-gray);
}

.slogan-button {
  display: flex;
  justify-content: center;
  padding-bottom: 243px;
}

.slogan-button-item1 {
  margin-right: 25px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: var(--basic-grin);
  padding: 16px 25px;
  border-top: 5px solid #ffffff;
  border-radius: 6px;
}

.slogan-button-item2 {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  padding: 16px;
  border-radius: 6px;
  border-top: 5px solid #ffffff;
}

/* Services */

.services {
  background-color: var(--basic-white);
}

.services-wraper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 8px solid #fff;
  margin-bottom: 90px;
}

.services-item {
  background-color: var(--basic-dark-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 87px 0;
}

.services-name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-grin);
}

.services-img {
  padding-bottom: 51px;
}

.services-item-color {
  background-color: var(--basic-grin);
}

.services-name-color {
  color: var(--basic-white);
}

.services-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-light-black);
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}

.services-heading::after,
.services-heading::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--basic-grin);
}

.services-heading::after {
  left: 550px;
  top: 68px;
}

.services-heading::before {
  left: 540px;
  top: 64px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 23px;
}

.services-link {
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  color: var(--basic-gray);
  border: 1px solid #edefef;
  background-color: var(--basic-dark-white);
  display: flex;
  justify-content: center;
  padding: 16px 0;
  position: relative;
  outline: none;
}

.services-link::after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid #18cfab;
  left: 50%;
  top: 100%;
  display: none;
}

.services-link:hover {
  border: 1.5px solid #18cfab;
  padding: 15.5px;
}

.services-link:focus::after {
  display: block;
}

.services-link:focus {
  background-color: var(--basic-grin);
  color: var(--basic-white);
}

.sirvices-description {
  display: flex;
  margin-bottom: 91px;
}

.sirvices-description-list {
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 24px;
  color: var(--basic-light-gray);
  margin-left: 13px;
}

.hidden-el {
  display: none;
}

/* Buy section */

.buy-wraper {
  background-image: url(../img/buyBg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.buy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: var(--basic-grin);
  padding: 124px 0 15px;
}

.buy-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: var(--basic-buy-gray);
  padding-bottom: 58px;
}

.buy-link {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: var(--basic-grin);
  padding: 14px 15px;
  border-top: 5px solid #ffffff;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 128px;
}

/* Work-section */

.work-wraper {
  background-color: var(--basic-work-gray);
}

.work-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--basic-work-dark-gray);
  text-align: center;
  padding-top: 95px;
  margin-bottom: 95px;
  position: relative;
}

.work-heading::after,
.work-heading::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--basic-grin);
}

.work-heading::after {
  left: 550px;
  top: 162px;
}

.work-heading::before {
  left: 540px;
  top: 158px;
}

.work-list {
  display: flex;
  justify-content: center;
  margin-bottom: 69px;
}

.work-item-link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  color: var(--basic-gray);
  padding: 10px 15px;
  border: 1px solid #dadada;
}

.work-item-link1 {
  padding: 10px 29px;
}

.focus-el > .work-item-link {
  border: 2px solid #18cfab;
  padding: 9px 14px;
}

.focus-el > .work-item-link1 {
  padding: 9px 28px;
}

.work-logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
}

.work-item1-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: var(--basic-grin);
  text-transform: uppercase;
}

.work-item1-name {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 25px;
  color: var(--basic-light-gray);
}

.work-logo-item1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
}

.work-logo-item1 svg {
  margin: 45px 0 25px;
}

.work-svg1:hover .svg1-path1,
.work-svg2:hover .svg2-path1 {
  fill: #18cfab;
}

.work-svg1:hover .svg1-rect1,
.work-svg2:hover .svg2-rect1 {
  stroke: none;
}

.work-svg1:hover .svg1-path2,
.work-svg2:hover .svg2-rect2 {
  fill: var(--basic-white);
}

.work-logo-item {
  position: relative;
}

.work-logo-item img {
  width: 100%;
  height: 100%;
}

.work-button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 75px;
}

.work-button {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  background-color: var(--basic-grin);
  border-radius: 6px;
  padding: 10px 22px;
}

.work-button-icon {
  padding-right: 15px;
}

.work-logo-item:hover img {
  opacity: 0;
  transition: 0.4s;
}
.work-logo-item1:hover {
  border-top: 3px solid rgba(24, 207, 171, 1);
  opacity: 1;
  transition: 0.4s;
}
.work-item1:hover {
  border: 2px solid #18cfab;
  padding: 9px 28px;
}

.work-logo-item1:hover 

/* News  */

.news-wraper {
  background-color: #fff;
}

.news-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--basic-work-dark-gray);
  margin: 84px 0 100px;
  position: relative;
}

.news-heading::after,
.news-heading::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--basic-grin);
}

.news-heading::after {
  left: 550px;
  top: 70px;
}

.news-heading::before {
  left: 538px;
  top: 66px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
  margin-bottom: 125px;
}

.news-list-item {
  background-color: var(--basic-dark-white);
  position: relative;
}

.news-list-item:hover .news-data {
  background-color: var(--basic-grin);
  transition: 0.3s;
}

.news-list-item:hover .item-heading_news {
  color: var(--basic-grin);
  transition: 0.3s;
}

.news-data {
  width: 70px;
  height: 68px;
  background-color: var(--basic-news-dark-grin);
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-number {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: var(--basic-white);
}

.item-heading_news {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: var(--basic-gray);
  margin-left: 15px;
}

.news-admin {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: var(--basic-light-gray);
  display: inline-block;
  position: relative;
  margin-left: 20px;
  margin-right: 28px;
}

.news-admin::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: var(--basic-light-gray);
  position: absolute;
  top: 12px;
  left: 83px;
}

.news-comment {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;
  color: var(--basic-light-gray);
  display: inline-block;
}

/* Reviews */

.reviews-container {
  position: relative;
}

.reviews-wraper {
  background-image: url(../img/reviewsBG.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reviews-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: var(--basic-white);
  padding: 98px 0 158px;
  position: relative;
}

.reviews-heading::after,
.reviews-heading::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  background-color: var(--basic-grin);
}

.reviews-heading::after {
  left: 550px;
  top: 166px;
}

.reviews-heading::before {
  left: 538px;
  top: 162px;
}

.reviews-text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: var(--basic-reviews-gray);
  margin-bottom: 25px;
  position: relative;
}

.reviews-text::before {
  content: url(../img/reviewsSvg.svg);
  position: absolute;
  top: -60px;
  right: 48%;
}

.reviews-people {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 27px;
  color: var(--basic-grin);
  text-align: center;
  text-transform: uppercase;
}

.people-position {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: var(--basic-reviews-gray);
}

.reviews-slider {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-slider-logo {
  margin-bottom: 51px;
}

.main-slider-logo {
  display: block;
  text-align: center;
  margin-top: 30px;
}

.main-slider-logo > img {
  border: 10px solid rgba(31, 218, 181, 0.2);
  border-radius: 100px;
}

.reviews-slider-item {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.reviews-button-next,
.reviews-button-previous {
  width: 31px;
  height: 31px;
  border: 1px solid rgba(187, 187, 187, 1);
  background: transparent;
  color: rgba(187, 187, 187, 1);
}

.reviews-button-next:hover,
.reviews-button-previous:hover {
  background-color: var(--basic-grin);
  color: var(--basic-white);
}

.reviews-slider-list {
  margin: 0 12px;
  display: inline-block;
}

.hover-el {
  position: relative;
  bottom: 10px;
}

.slider-hover {
  margin-bottom: 10px;
}

.reviews-slider-list > img {
  border: 4px solid rgba(31, 218, 181, 0.2);
  border-radius: 100px;
}

.hide-el {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* Footer  */

.footer-wraper {
  background-color: var(--basic-footer-dark-blue);
}

.footer-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #aeaeae;
  padding: 48px 0;
}

.footer-text-link {
  color: var(--basic-grin);
}
