:root {
  --basic-white: #ffffff;
  --basic-orange: #f26522;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--basic-white);
}

.wraper {
  margin: 0 auto;
  padding: 0;
  max-width: 1366px;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: top center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1028px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.nav-link {
  display: grid;
  grid-template-columns: 53px 100px;
  grid-column-gap: 7px;
}

.nav-link:hover {
  color: var(--basic-orange);
}

.nav-link:hover .logo-item1 {
  display: none;
}

.nav-link:hover .logo-hover {
  display: block;
}

.logo-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 53px;
  height: 47px;
  position: relative;
}

.logo-hover {
  position: absolute;
  display: none;
  width: 53px;
  height: 47px;
}

.logo-item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-style: normal;
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
}

.logo-item3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: bold;
}

.nav-contacts {
  display: grid;
  grid-row-gap: 17px;
}

.contacts-item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.contacts-item:hover {
  color: var(--basic-orange);
}

.slider-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 17px 0 49px;
  grid-row-gap: 33px;
  grid-column-gap: 58px;
}

.slider-link {
  display: block;
}

.slider-link img {
  width: 304px;
  height: 224px;
  border: 2px solid;
  border-image-source: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider-item {
  position: relative;
  justify-self: center;
}

.slider-button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding-top: 20px;
}

.slider-item-hover {
  background-color: var(--basic-orange);
  z-index: -1;
  display: grid;
  grid-template-columns: 150px 150px;
  margin-left: 2px;
  position: absolute;
  bottom: 43px;
  opacity: 0;
  transition: 1s;
}

.slider-item:hover .slider-item-hover,
.slider-item:hover .slider-button {
  color: var(--basic-orange);
  z-index: 1;
  opacity: 1;
  transition: 1s;
}

.hover-info {
  font-size: 10px;
  line-height: 10px;
  color: var(--basic-white);
  padding: 7px 0 8px 13px;
}

.hover-cots {
  font-size: 20px;
  line-height: 20px;
  color: var(--basic-white);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0 0 12px 13px;
}

.hover-link {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 6px 0;
}

.hover-link::after {
  content: '>';
  padding-left: 20px;
}

.footer-info {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: var(--basic-white);
  padding-bottom: 15px;
}
