@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Bold.ttf);
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
