.header__nav {
  @media (max-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
}

.menu {
  @extend %list-reset;
  display: flex;
  justify-content: center;
  padding-top: 29px;
  padding-bottom: 34px;
  @media (max-width: 768px) {
    & {
      position: absolute;
      padding: 0;
      display: flex;
      flex-direction: column;
      opacity: 0;
      transition: opacity 1s;
      top: 60px;
      right: 15px;
      background-color: rgba(245, 245, 245, 1);
    }
  }
}

.menu__item {
  &:not(:last-child) {
    margin-right: 68px;
    @media (max-width: 900px) {
      margin-right: 34px;
    }
  }
  @media (max-width: 768px) {
    &:not(:last-child) {
      margin-right: 0;
    }
    &:hover {
      background-color: rgba(229, 229, 229, 1);
    }
  }
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4e4e4e;
  text-decoration: none;
  display: block;
  padding: 16px 0;
  text-align: center;
  &:focus {
    color: rgba(87, 164, 164, 1);
  }
  @media (max-width: 768px) {
    padding: 5px 70px 5px 12px;
    text-align: left;
  }
}

.header__intro {
  @media (max-width: 1190px) {
    margin: 0 15px;
  }
}

.header__intro-img {
  max-width: 100%;
}

.burger {
  position: relative;
  padding: 0;
  width: 44px;
  height: 37px;
  border: none;
  display: none;
  margin: 23px 15px;
  background-color: rgba(0, 0, 0);
  @media (max-width: 768px) {
    display: block;
  }
}

.burger__img1 {
  position: absolute;
  max-width: 100%;
  opacity: 1;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.burger__img2 {
  position: absolute;
  max-width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 1s;
}

.burger__hidden-el {
  opacity: 1;
}
