$font: Roboto, sans-serif;
.page__body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.page__wraper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.0001);
}

.page__container {
  max-width: 1170px;
  margin: 0 auto;
}

@import './header.scss';
.page__main {
  margin-bottom: 69px;
  @media (max-width: 1190px) {
    margin-right: 15px;
    margin-left: 15px;
  }
}

.main__heading {
  color: rgba(78, 78, 78, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 66px 0 24px;
  @media (max-width: 586px) {
    font-size: 14px;
  }
}
.main__work-item {
  display: flex;
  @media (max-width: 586px) {
    display: block;
    &:last-child {
      display: none;
    }
  }
}
.main__work-list {
  @extend %list-reset;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 55px;
  grid-row-gap: 32px;
  @media (max-width: 1020px) {
    display: grid;
    grid-template-columns: repeat(1, 600px);
  }
  @media (max-width: 586px) {
    display: grid;
    grid-template-columns: repeat(1, 230px);
  }
}
.work-item__info {
  margin-left: 20px;
  @media (max-width: 586px) {
    margin-left: 0;
  }
}
.work-item__heading {
  color: rgba(78, 78, 78, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  @media (max-width: 586px) {
    font-size: 14px;
  }
}
.work-item__comments {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: rgba(124, 124, 124, 1);
  padding: 0 0 6px 0;
  margin: 0;
  @media (max-width: 586px) {
    padding-bottom: 0;
  }
}
.work-item__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: rgba(92, 92, 92, 1);
  padding: 0;
  margin: 0;
  @media (max-width: 586px) {
    display: none;
  }
}

.page__footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
}
.footer__container {
  max-width: 684px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 680px) {
    max-width: 310px;
  }
}
.footer__heading {
  color: rgba(254, 254, 254, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 66px 0 22px;
  @media (max-width: 680px) {
    font-size: 14px;
    margin: 38px 0 8px;
  }
}
.footer__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(185, 185, 185, 1);
  margin-bottom: 37px;
  text-align: center;
  @media (max-width: 680px) {
    font-size: 12px;
    line-height: 20px;
  }
}
.footer--hidden-el {
  @media (max-width: 680px) {
    display: none;
  }
}
.footer__icon-list {
  @extend %list-reset;
  display: flex;
  margin-bottom: 34px;
  @media (max-width: 680px) {
    margin-bottom: 25px;
  }
}
.footer__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}
.footer__contacts {
  color: rgba(185, 185, 185, 1);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 70px;
  @media (max-width: 680px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}
